<html>
<head>
<title> Inventory Management System</title>
<style>
    h1 {text-align: center;}
    .Submit_button{text-align: center;}
</style>
</head>
<body>
    <h1>Inventory Management System</h1>
    <form action="/create" method="GET">
        <button onclick="">Create</button>
    </form>
    <form action="/logout" method="GET">
        <button onclick="">Logout</button>
    </form>
      <input style="width:100%" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search name:" name="bar">
        <table>
        <% for (var doc of results) { %>
            <tr><td><a href="/detail?_id=<%= doc._id %>"><%= doc.name %></a></td></tr>
        <% } %>
       </table>
</body>
</html>
