<html>
<head>
<title> Inventory Management System</title>
<style>
    h1 {text-align: center;}
    .Submit_button{text-align: center;}
</style>
</head>
<body>
    <h1>Inventory Management System</h1>
    No this Account!</br></br>
    <form action="/" method="GET">
        <button id="Back">Back</button>
    </form>
</body>
</html>