<html>
<head>
<title> Inventory Management System</title>
<style>
    h1 {text-align: center;}
    .Submit_button{text-align: center;}
</style>
</head>
<body>
    <h1>Inventory Management System</h1>
    <form action="/login" method="POST">
        User ID: <input type="text" name="user_id"><br><br>
        Password: <input type="password" name="user_pw" ><br><br>
        <div class="Submit_button"><button type="submit">Login</button></div>
    </form>
</body>
</html>