<html>
<head>
<title> Inventory Management System</title>
<style>
    h1 {text-align: center;}
    .Submit_button{text-align: center;}
</style>
</head>
<body>
    <form action="/database" method="GET">
        <button onclick="">back</button>
    </form>

    <h1>Update success!</h1>
    <ul>


    </ul>
</body>
</html>